<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Order List</title>
</head>
<body>
<h1>Order List</h1>
<table border="1">
  <thead>
  <tr>
    <th>Order ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Status</th>
    <th>Total</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.name}"></td>
    <td th:text="${order.address}"></td>
    <td th:text="${order.status}"></td>
    <td th:text="${order.totalPrice}"></td>
    <td>
      <a th:href="@{/orders/{id}(id=${order.id})}">View</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>